<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO</title>
    <link rel="icon" href="../assets/images/logo.ico" type="image/x-icon"/>
    <!-- iconfont -->
    <link rel="stylesheet" href="../assets/icofont/icofont.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-8">
          <li class="breadcrumb-item opacity-75"><a href="index.html">首頁</a></li>
          <li class="breadcrumb-item opacity-75"><a href="event.html">活動列表</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">返老還童-制服聯誼</a></li>
        </ol>
      </nav>
    </div>


    <div class="container">
      <div class="row mt-0 mt-lg-8 gx-6">
        <div class="col-12 col-lg-10">
          <div class="border border-2">
            <div class="p-4">
              <picture class="d-block eventbanner"></picture>
            </div>
          </div>
        </div>
        
        <div class="d-flex d-lg-block flex-row align-items-stretch align-items-center col-12 col-lg-2 fs-5 fs-sm-3 text-center mt-3 mt-lg-0">
          <div class="col-4 col-lg-12 border border-2">
            <p class="py-8">2023</p>
          </div>

          <div class="col-8 col-lg-12 border border-2 mt-lg-5">
            <div class="py-8 d-flex d-lg-block flex-row justify-content-around">
              <div class="date">
                <p>MAY</p>
                <p>19</p>
              </div>
              <div>
                <p class="time">12:00</p>
                <p>23:00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="container">

      <h2 class="fs-lg-1 mt-8">返老還童-制服聯誼</h2>
      <p class="font-TC mt-4">穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！</p>
      <aside class="btn-group d-flex flex-wrap mt-4" role="group" aria-label="teg">
        <button type="button" class="teg m-2 px-7">聯誼</button>
        <button type="button" class="teg m-2 px-7">美食</button>
        <button type="button" class="teg m-2 px-7">戶外</button>
        <button type="button" class="teg m-2 px-7">交通旅遊</button>
      </aside>

      <div class="border border-2 mt-8">
        <div class="p-7 font-TC">
          <p>
          想回到過去？試著讓故事繼續？<br>
          <br>
          由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！<br>
          <br>
          活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶
         </p>
        </div>
      </div>

      <div class="mb-8 mb-lg-9 mt-8">
        <ul class="list-unstyled">
          <a href="checkout.html" class="d-flex align-items-center justify-content-between border border-dark border-2 px-8 py-7">
            <li class="fs-5 fs-sm-3 fs-lg-1">TICKET</li>
            <li class="fs-7 fs-sm-5 fs-lg-4">購票資訊</li>
          </a>
        </ul>
      </div>

      <div>
        <table class="table table-hover">
          <thead>
            <tr class="postion-relative">
              <th class="col-lg-3">活動日期</th>
              <th class="col-lg-4">票種</th>
              <th class="col-lg-4">票價</th>
              <th class="col-lg-2">購票</th>
            </tr>
          </thead>
          <tbody class="border-top">
            <tr class="font-TC align-middle">
              <th scope="row p-3">2023/5/12</th>
              <td>普通票</td>
              <td class="p-4">$600</td>
              <td>
                <a href="checkout.html" class="border border-1 px-4 py-1 text-nowrap">立即購票</a>
              </td>
            </tr>
            <tr class="font-TC align-middle">
              <th scope="row p-3">2023/5/12</th>
              <td>普通票</td>
              <td class="p-4">$600</td>
              <td>
                <a href="checkout.html" class="border border-1 px-4 py-1 text-nowrap">立即購票</a>
              </td>
            </tr>
            <tr class="font-TC align-middle">
              <th scope="row p-3">2023/5/12</th>
              <td>普通票</td>
              <td class="p-4">$600</td>
              <td>
                <a href="checkout.html" class="border border-1 px-4 py-1 text-nowrap">立即購票</a>
              </td>
            </tr>
            <tr class="font-TC align-middle">
              <th scope="row p-3">2023/5/12</th>
              <td>普通票</td>
              <td class="p-4">$600</td>
              <td>
                <a href="checkout.html" class="border border-1 px-4 py-1 text-nowrap">立即購票</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </section>


    <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
  <!-- JavaScript Bundle with Popper -->
  </body>
</html>
 